In [1]:
import pandas as pd
import numpy as numpy
from collections import namedtuple
from BinaryTree import BinaryTree

In [20]:
#A. Ved bruk av Pandas - les inn datafilen og legg dette i en collection av namedtuple
#read_stat() is not working since it's an older .dta format, so had to find a workaround
df = pd.read_fwf('Personer.dta', )
df = df.applymap(str)
df.columns = ["name"]
df.tail()

                                                    name
99994  STORLIEN;HANS-MAGNUS;TALLSLETTA 57;3849;VR�LIOSEN
99995  ASAIPPILLAI;JO GUDBRAND;BERGERUD 68;4371;EGERSUND
99996  TOLLEFSEN;ZULFIQAR ALI;EIRIK JARLS GATE 79;130...
99997              ELI;KNUT OLAF;RUSTAD S 14;9775;GAMVIK
99998  NYRUD;ERIK NOR�;GJERDHAUGVEGEN 3;6512;KRISTIAN...

In [3]:
df[['First', 'Last', 'Address', 'Nr', 'City']] = df.name.str.split(';', expand=True)
df = df.drop(columns=["name"])

In [18]:
df.tail()

             First          Last              Address    Nr            City
99994     STORLIEN   HANS-MAGNUS        TALLSLETTA 57  3849       VR�LIOSEN
99995  ASAIPPILLAI   JO GUDBRAND          BERGERUD 68  4371        EGERSUND
99996    TOLLEFSEN  ZULFIQAR ALI  EIRIK JARLS GATE 79  1305          HASLUM
99997          ELI     KNUT OLAF          RUSTAD S 14  9775          GAMVIK
99998        NYRUD     ERIK NOR�     GJERDHAUGVEGEN 3  6512  KRISTIANSUND N

In [13]:
Personer = namedtuple('Personer', ['First', 'Last', 'Address', 'Nr', 'City'])
list_df = list(df.itertuples(name='Person', index=False))
list_df[99998]

Person(First='NYRUD', Last='ERIK NOR�', Address='GJERDHAUGVEGEN 3', Nr='6512', City='KRISTIANSUND N')

In [10]:
#B. Insert dataene (namedtuples) som du hentet i det binære søketreet
binaryTree = BinaryTree()
for data in list_df:
    binaryTree.insert(value=data)

RecursionError: maximum recursion depth exceeded in comparison

In [ ]:
#C. Hver node i treet har en egen "level" knyttet til seg - altså nivå i treet. 
# Skriv ut nivået og verdien for rad nr 1, 10, 100, 1000, 10000, 100000 fra filen Personer.dta. 
#Legg til side denne listen av namedtuples og nivået i treet
values_to_find = [1, 10, 100, 1000, 10000, 100000]
for i in values_to_find:
    print(f"Value: {binaryTree.find(list_df[i]).value}")
    print(f"Level: {binaryTree.find(list_df[i]).level}")
    print("----------------------------------------------------------------------------------------------")

In [ ]:
#Slett rad nr. 1000 og 10000 fra Personer.dta i det binære søketreet, 
#og kontroller implementasjonen din mot resultatet fra oppgave 1C
p_test1 = list_df[10]
p_test2 = list_df[88888]

p1 = list_df[1000]
p2 = list_df[10000]
values_to_delete = [p1, p2]
 
for i in values_to_delete:
    binaryTree.deleteRecursive(key=i)

try:
    print(binaryTree.find(p_test1).value)
except:
    print("False")



try:
    print(binaryTree.find(p_test2).value)
except:
    print("False")
    

try:
    print(binaryTree.find(p1).value)
except:
    print("False")    


try:
    print(binaryTree.find(p2).value)
except:
    print("False")

In [ ]:
#Basert på dine endringer i BinaryTree.py, en utskrift av nivået for  
#følgende rader i Personer.dta: 8, 50, 400, 2300, 8000, 49999, 75000
#Hvor mange noder befinner seg på hvert nivå/level i treet?

print_vaules = [8, 50, 400, 2300, 8000, 49999, 75000]

for num in print_vaules: